<app-header></app-header>
<header class="header-bg justify-center items-center flex h-screen">
    <div class="text-center">
      <p class="font-worksans text-base text-white mb-3">LUXURIOUS PALACE</p>
      <p class="md:text-7xl font-playfair font-bold text-white">Hotel Rooms</p>
    </div>
</header>


<section class="md:mt-[230px] mt-5 p-8">
  <div class="mx-auto md:w-[80%] w-[90%]">
    <p class="flex justify-center mb-16 font-playfair text-3xl">Our Rooms</p>
  
    <div class="grid lg:grid-cols-3 gap-y-8 gap-x-5 grid-cols-1 md:grid-cols-2" >
      <div class="shadow-md p-0 overflow-hidden" *ngFor="let room of roomCategories ">
        <img [src]="room.picture" alt="" class="scale-100 room">
        <p class="flex justify-center mt-6 my-6 text-base font-worksans">{{room.roomName}}</p>
      </div>
    </div>
  </div>
</section>




<app-hotel-footer>

</app-hotel-footer>