<section class="grid grid-cols-4">
    <div><img src="assets/cake/footer-cake-1.svg" alt="" class="w-full h-full"></div>
    <div><img src="assets/cake/footer-cake-2.svg" alt="" class="w-full h-full"></div>
    <div><img src="assets/cake/footer-cake-3.svg" alt="" class="w-full h-full"></div>
    <div><img src="assets/cake/footer-cake-4.svg" alt="" class="w-full h-full"></div>
</section>
<footer class="p-10 pb-2 md:p-20 md:pb-5 bg-black">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap:8 md:gap-10">
      <div class="">
        <h3 class="text-[#dab748] text-xl md:text-2xl">ProTouch</h3>
        <p class="text-white my-5 text-sm md:text-base font-light">
          Land behold it created good saw after she'd Our set living. Signs midst
          dominion creepeth morning laboris nisi ufsit aliquip
        </p>
        <div class="flex gap-3 mb-5 items-center">
          <a href="">
            <img src="assets/icons/facebook.png" alt=""  class="w-7"/>
          </a>
          <a href="">
            <img src="assets/icons/twitter.png" alt="" class="w-8"/>
          </a>
          <a href="">
            <img src="assets/icons/instagram.png" alt="" class="w-8"/>
          </a>
        </div>
      </div>
      <div class="">
        <h3 class="text-[#dab748] text-xl md:text-2xl">Quick Links</h3>
        <div class="text-white my-5 font-light flex flex-col gap-3">
          <a routerLink="/cake" class="block text-sm md:text-base">Home</a>
          <a routerLink="/cake/about" class="block text-sm md:text-base">About</a>
          <a routerLink="/cake/product" class="block text-sm md:text-base">Products</a>
          <a routerLink="/cake/contact" class="block text-sm md:text-base">Contact</a>
        </div>
      </div>
      <div class="">
        <h3 class="text-[#dab748] text-xl md:text-2xl">Cakes</h3>
        <div class="text-white my-5 font-light flex flex-col gap-3">
          <a routerLink="/cake/product" class="block text-sm md:text-base">Breakfast</a>
          <a routerLink="/cake/product" class="block text-sm md:text-base">Blackforest</a>
          <a routerLink="/cake/product" class="block text-sm md:text-base">Merghrogh</a>
        </div>
      </div>
      <div class="">
        <h3 class="text-[#dab748] text-xl md:text-2xl">Contact us</h3>
        <div class="flex flex-col gap-3 my-5">
          <p class="text-[white] font-light text-sm md:text-base">85 Avenue, Shagamu, Street,</p>
          <p class="font-semibold text-[#dab748] text-sm md:text-base">+234 904 331 3214</p>
        </div>
      </div>
    </div>
    <p class="text-center text-[#dab748] mt-5 text-sm">
      Copyright &copy;{{ date.getFullYear() }} All Rights Reserved | ProTouch
      Groups
    </p>
  </footer>