<section class="grid grid-cols-4">
    <div><img src="assets/cake/footer-cake-1.svg" alt="" class="w-full h-full"></div>
    <div><img src="assets/cake/footer-cake-2.svg" alt="" class="w-full h-full"></div>
    <div><img src="assets/cake/footer-cake-3.svg" alt="" class="w-full h-full"></div>
    <div><img src="assets/cake/footer-cake-4.svg" alt="" class="w-full h-full"></div>
</section>
<footer class="p-10 pb-2 md:p-20 md:pb-5 bg-[#FFF7F3]">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap:8 md:gap-10">
      <div class="">
        <h3 class="text-[#E44200] text-xl md:text-2xl">ProTouch</h3>
        <p class="text-[#232323] my-5 text-sm md:text-base font-light">
          Land behold it created good saw after she'd Our set living. Signs midst
          dominion creepeth morning laboris nisi ufsit aliquip
        </p>
        <div class="flex gap-3 mb-5">
          <a href="">
            <img src="assets/icons/facebook-orange.png" alt="" />
          </a>
          <a href="">
            <img src="assets/icons/facebook-orange.png" alt="" />
          </a>
          <a href="">
            <img src="assets/icons/facebook-orange.png" alt="" />
          </a>
          <a href="">
            <img src="assets/icons/facebook-orange.png" alt="" />
          </a>
        </div>
      </div>
      <div class="">
        <h3 class="text-[#2F2E2E] text-xl md:text-2xl">Quick Links</h3>
        <div class="text-[#2F2E2E] my-5 font-light flex flex-col gap-3">
          <a href="#" class="block text-sm md:text-base">Home</a>
          <a href="#about" class="block text-sm md:text-base">About</a>
          <a href="#service" class="block text-sm md:text-base">Services</a>
          <a href="#contact" class="block text-sm md:text-base">Contact</a>
        </div>
      </div>
      <div class="">
        <h3 class="text-[#2F2E2E] text-xl md:text-2xl">Cakes</h3>
        <div class="text-[#2F2E2E] my-5 font-light flex flex-col gap-3">
          <a href="#" class="block text-sm md:text-base">Breakfast</a>
          <a href="#about" class="block text-sm md:text-base">Blackforest</a>
          <a href="#service" class="block text-sm md:text-base">Merghrogh</a>
          <a href="#contact" class="block text-sm md:text-base">Contact</a>
        </div>
      </div>
      <div class="">
        <h3 class="text-[#2F2E2E] text-xl md:text-2xl">Contact us</h3>
        <div class="flex flex-col gap-3 my-5">
          <p class="text-[#2F2E2E] font-light text-sm md:text-base">85 Avenue, Shagamu, Street,</p>
          <p class="font-semibold text-[#E44200] text-sm md:text-base">+234 904 331 3214</p>
        </div>
      </div>
    </div>
    <p class="text-center text-[#2F2E2E] mt-5 text-sm">
      Copyright &copy;{{ date.getFullYear() }} All Rights Reserved | ProTouch
      Groups
    </p>
  </footer>