
<footer class="p-10 pb-2 md:p-20 md:pb-5 bg-black">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap:8 md:gap-10">
    <div class="">
      <img src="assets/home/logo.png" alt="" class="w-12 h-12">
      <p class="text-white my-5 text-sm font-worksans">
        Complete Protouch Limited is an hospitality company that operates hotels and confectioneries. <br>
        Our team is committed to personal care and passionate about delivering a great experience. <br>

      </p>
      <div class="flex gap-3 mb-5 items-center">
        <a href="https://web.facebook.com/ProtouchCakes">
          <img src="assets/icons/facebook.png" alt="" class="w-7" />
        </a>
        <a href="https://www.instagram.com/protouchcakes/">
          <img src="assets/icons/instagram.png" alt="" class="w-8" />
        </a>
      </div>
    </div>
    <div class="">
      <h3 class="text-[#dab748] text-xl md:text-2xl">Quick Links</h3>
      <div class="text-white my-5 font-light font-worksans flex flex-col gap-3 ">
        <a routerLink="/cake" class="block text-sm md:text-base hover:text-[#DAB748]">Home</a>
        <a routerLink="/cake/about" class="block text-sm md:text-base hover:text-[#DAB748]">About</a>
        <a routerLink="/cake/product" class="block text-sm md:text-base hover:text-[#DAB748]">Products</a>
        <a routerLink="/cake/contact" class="block text-sm md:text-base hover:text-[#DAB748]">Contact</a>
      </div>
    </div>
    <div class="">
      <h3 class="text-[#dab748] text-xl md:text-2xl">Cakes</h3>
      <div class="text-white my-5 font-light font-worksans flex flex-col gap-3">
        <a routerLink="/cake/product" class="block text-sm md:text-base hover:text-[#DAB748]">Wedding</a>
        <a routerLink="/cake/product" class="block text-sm md:text-base hover:text-[#DAB748]">Birthday</a>
        <a routerLink="/cake/product" class="block text-sm md:text-base hover:text-[#DAB748]">Cup Cakes</a>
      </div>
    </div>
    <div class="">
      <h3 class="text-[#dab748] text-xl md:text-2xl">Contact us</h3>
      <div class="flex flex-col gap-3 my-5 font-worksans">
        <p class="text-[white] font-light text-sm md:text-base">85 Avenue, Shagamu, Street,</p>
        <p class="font-semibold text-[#dab748] text-sm md:text-base">+234 904 331 3214</p>
      </div>
    </div>
  </div>
  <p class="text-center text-[#dab748] mt-5 text-sm">
    Copyright &copy;{{ date.getFullYear() }} All Rights Reserved | ProTouch
    Groups
  </p>
</footer>