<header
  class="p-6 md:py-10 md:px-16 font-worksans cursor-pointer px-3 py-3 fixed top-0 left-0 right-0 z-30 h-[56px] md:h-[71px] lg:h-[79px] text-white navbar flex items-center">
  <nav class="flex justify-between w-full items-center">
    <div routerLink="/main/">
      <img src="../assets/hotel/protouch-hotel-logo.png" alt="" class="md:w-14 w-8">
    </div>
    <div class="hidden md:flex gap-5">
      <p routerLink="/hotel" routerLinkActive="active-nav" [routerLinkActiveOptions]="{ exact: true }" class="hover:text-[#D5CEA3]">
        HOME
      </p>
      <p routerLink="/hotel/rooms" routerLinkActive="active-nav" class="hover:text-[#D5CEA3]"
      >ROOMS</p>
          <p routerLink="/hotel/about-hotel" routerLinkActive="active-nav" class="hover:text-[#D5CEA3]">ABOUT US</p>
      <p routerLink="/hotel/contact" routerLinkActive="active-nav" class="hover:text-[#D5CEA3]">CONTACT US</p>
    </div>
    <div class="md:hidden cursor-pointer text-white text-2xl" (click)="showNavToggle()">
      {{ navToggle ? "&times;" : "&#9776;" }}
    </div>
  </nav>
  

  <div
  class="bg-white md:hidden shadow-md fixed left-0 right-0 top-[56px] md:top-[71px] lg:top-[79px] z-20 transition-all h-0 px-3 overflow-hidden"
  [ngClass]="{ 'h-72': navToggle }"
>
  <div class="m-5 sm:m-8">
    <div
      class="cursor-pointer text-[#232323] font-medium text-left mb-5 hover:text-[#D5CEA3]"
      (click)="closeNavToggle()"
      routerLink="/hotel"
      routerLinkActive="active-nav"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </div>
    <div
      class="cursor-pointer text-[#232323] font-medium text-left mb-5 hover:text-[#D5CEA3]"
      (click)="closeNavToggle()"
      routerLink="/hotel/rooms"
      routerLinkActive="active-nav"
    >
      Rooms
    </div>
    <div
      class="cursor-pointer text-[#232323] font-medium text-left mb-5 hover:text-[#D5CEA3]"
      (click)="closeNavToggle()"
      routerLink="/hotel/hotel-events"
      routerLinkActive="active-nav"
    >
      Events
    </div>
    <div
      class="cursor-pointer text-[#232323] font-medium text-left mb-5 hover:text-[#D5CEA3]"
      (click)="closeNavToggle()"
      routerLink="/hotel/about-hotel"
      routerLinkActive="active-nav"
    >
      About Us
    </div>
    <div
      class="cursor-pointer text-[#232323] font-medium text-left mb-5 hover:text-[#D5CEA3]"
      (click)="closeNavToggle()"
      routerLink="/hotel/contact"
      routerLinkActive="active-nav"
    >
      Contact Us
    </div>
   
  </div>
</div>
</header>
