.header-bg{
  background: url(../../../assets/hotel/hotelwallpaper1.jpg);
  width: 100%;
  object-fit: contain;
}
.header-bg::before{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}