<header class="">
  <owl-carousel-o [options]="hotelHeader" class="hidden md:block bg-[#f2f5f7]">
    <ng-container *ngFor="let images of imagesStore">
      <ng-template carouselSlide [id]="images.id">
        <div class="md:h-screen h-[90%]">
          <img src={{images.src}} class="object-cover md:w-full" />
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
  
</header>
<app-header class="block h-[70vh] md:hidden"
  title="ProTouch Hotel and Suites"
  subtitle="Welcome to Comfort">
</app-header>

<app-hotel-nav></app-hotel-nav>

<section class="py-24 bg-[#f2f5f7]">
  <div class="mx-auto md:w-[80%] w-[90%]">
    <p class="flex justify-center mb-16 font-playfair text-4xl">Our Rooms</p>
  
    <div class="grid lg:grid-cols-3 gap-y-8 gap-x-5 grid-cols-1 md:grid-cols-2" >
      <div class="shadow-md p-0 " *ngFor="let room of roomCategories">
        <div class="overflow-hidden">
          <img [src]="room.picture" alt="" class="scale-100 room">
        </div>
        <p class="flex justify-center mt-6 my-6 text-xl font-worksans">{{room.roomName}}</p>
      </div>
    </div>
  </div>
</section>


<section class="my-24 font-worksans p-5">
  <div class="mx-auto flex items-center justify-between gap-12 lg:flex-row flex-col md:px-20">
    <img src="assets/hotel/about-us-pic.png" alt="" class="w-[100%]">
    <div>
      <p class="text-[#62760C] font-worksans text-xl mb-6"> About Us </p>
      <p class="font-playfair md:text-5xl text-2xl mb-9 lg:w-[70%] w-[90%] text-[#1A120B]"> Welcome To PreTouch Hotels and Suites </p>
      <p class="font-worksans text-base mb-3 w-[80%]">
        With over 340 Hotels Worldwide, PreTouch Hotel has offered a wide variety of audience accross quality and premium service at a very affordable
        price.
      </p>
      <p>Manager: <span class="text-[#3C2A21] text-base"> Chimanda Emeka </span></p>
    </div>
  </div>
</section>

<section class="mt-8 bg-[#F8F9FA] md:p-8">
  <div class="p-5 sm:p-8 md:p-10 testimonial mx-auto mt-24" id="testimonials">
    <owl-carousel-o [options]="testimonialsCarousel">
      <ng-template carouselSlide>
        <div class="">
          <section class="grid grid-cols-1 sm:flex gap-8 items-center md:px-12">
            <div class="sm:w-1/2 md:w-1/4">
              <img src="assets/hotel/img-5.png" class="w-full" alt="" />
            </div>
            <div class="sm:w-1/2 md:w-3/4">
              <h3 class="text-[#62760C] font-semibold ">Testimonials</h3>
              <h2 class="font-bold text-2xl md:text-3xl w-3/4 my-7 font-playfair">
                Our Customers Love Us
              </h2>
              <p class="mb-5 w-3/4">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam
                officiis ipsum sed placeat? Obcaecati id sit, dolorum qui maxime
                ex consequatur
              </p>
            </div>
          </section>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="">
          <section class="grid grid-cols-1 sm:flex gap-8 items-center md:px-12">
            <div class="sm:w-1/2 md:w-1/4">
              <img src="assets/hotel/img-5.png" class="w-full" alt="" />
            </div>
            <div class="sm:w-1/2 md:w-3/4">
              <h3 class="text-[#62760C] font-semibold">Testimonials</h3>
              <h2 class="font-bold text-2xl md:text-3xl w-3/4 my-7 font-playfair">
                Our Customers Love Us
              </h2>
              <p class="mb-5 w-3/4">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam
                officiis ipsum sed placeat? Obcaecati id sit, dolorum qui maxime
                ex consequatur
              </p>
            </div>
          </section>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>

  <div class="mx-auto w-[90%] my-24">
    <p class="flex justify-center mb-16 font-playfair text-3xl"> Hotel Features </p>
    <div class="grid md:grid-cols-4 grid-cols-2 justify-center md:gap-6 gap-3 mx-auto items-center">
     <div class="flex flex-col items-center">
      <img src="assets/hotel/swimming.svg" alt="">
      <p class="text-[#62760C] font-worksans text-lg">Swimming Pool</p>
     </div>
     <div class="flex flex-col items-center">
      <img src="assets/hotel/traffic-jam.svg" alt="">
      <p class="text-[#62760C] font-worksans text-lg">Car Parking</p>
     </div>
     <div class="flex flex-col items-center">
      <img src="assets/hotel/emergency-exit.svg" alt="">
      <p class="text-[#62760C] font-worksans text-lg">Fire Exit</p>
     </div>
     <div class="flex flex-col items-center">
      <img src="assets/hotel/hair-dryer.svg" alt="">
      <p class="text-[#62760C] font-worksans text-lg">Hair Dryer</p>
     </div>
     <div class="flex flex-col items-center">
      <img src="assets/hotel/mini-bar.svg" alt="">
      <p class="text-[#62760C] font-worksans text-lg">Minibar</p>
     </div>
     <div class="flex flex-col items-center">
      <img src="assets/hotel/drinks.svg" alt="">
      <p class="text-[#62760C] font-worksans text-lg">Drinks</p>
     </div>
     <div class="flex flex-col items-center">
      <img src="assets/hotel/car-one.svg" alt="">
      <p class="text-[#62760C] font-worksans text-lg">Car Airport</p>
     </div>
     <div class="flex flex-col items-center">
      <img src="assets/hotel/hotel-teller.svg" alt="">
      <p class="text-[#62760C] font-worksans text-lg">Car Airport</p>
     </div>
    </div>
  </div>

 

</section>

<div class=" md:p-10 p-4 md:py-12 py-4 mt-24 bg-gradient-to-r from-black to-white" id="contact">
  <section
    class="flex flex-col sm:flex-row gap-10 md:items-center justify-between relative z-10 md:px-24"
  >
    <div>
      <h3 class="font-bold text-2xl md:text-5xl text-white mb-2">
        Contact Us now
      </h3>
      <p class="text-[#D9D9D9] text-lg">
        Contact (+234 904 554 221) to book directly or for advice
      </p>
    </div>
    <button
      class="text-[#FFFEFE] w-40 cursor-pointer text-center bg-[#62760C] py-3 px-5 rounded"
    >
      Contact Us
    </button>
  </section>
</div>


<app-hotel-footer></app-hotel-footer>

