.room{
  transition: all .4s ease;
}

.room:hover{
  transform: scale(1.1);
  width: 100%;

}

.testimonial .owl-theme {
  position: relative;
}

.testimonial .owl-theme .owl-nav{
  display: none;
}
.testimonial .owl-theme .owl-nav [class*=owl-], .owl-theme .owl-nav [class*=owl-]:hover {
  background: unset;
  // display: none;
}

// #contact{
//   background: url(../../../assets/hotel/contact.svg);
//   position: relative;
// }

// #contact::after{
//   position: absolute;
//   content: "";
//   background: #363636C4;
//   inset: 0;
// }

@media (min-width: 768px) {
  .about-2 .owl-theme .owl-nav{
      display: block;
  }
  .testimonial .owl-theme .owl-nav{
      display: block;
  }
}

.header-bg{
  background: url(../../../assets/hotel/about-us/royal-suite.jpg);
  width: 100%;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-bg::before{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.897);
  z-index: 0;
}