<app-cake-nav></app-cake-nav>
<app-cake-header
  heading="Products"
  paragraph="Check out everything about us, our categories of cakes and 
  different prices."
></app-cake-header>
<section
  class="bg-[#180A0A] py-14 px-6 sm:py-20 sm:px-10 md:py-[166px] md:px-16"
>
  <h4 class="text-center text-[#dab748] text-base md:text-lg font-montserrat text-[#dab748] my-3">
    Most Popular
  </h4>
  <h3 class="font-bold text-xl md:text-2xl text-center text-white font-montserrat mb-7">
    Our Exclusive Cakes
  </h3>
  <div
    class="px-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6"
    id="cake-card"
  >
    <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7">
        <img
          src="../../assets/cake/product/product-cake-1.svg"
          class="w-full"
          alt=""
        />
      </div>
      <h4 class=" font-montserrat text-[#dab748] my-3 text-base md:text-lg font-bold">
        BlackForest
      </h4>
      <p class="mb-4 text-sm text-white md:text-base ">
        Everything about this cakes is stated here for your perusal. Please find
        it and read.
      </p>
      <a
        href="tel:+2347017909308"
        class="block w-32 text-center py-3 rounded-xl bg-[#DAB748] hover:bg-[#9b7701] text-white"
      >
        Order Now
      </a>
    </div>
    <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7">
        <img
          src="../../assets/cake/product/product-cake-2.svg"
          class="w-full"
          alt=""
        />
      </div>
      <h4 class=" font-montserrat text-[#dab748] my-3 text-base md:text-lg font-bold">
        SweetCakes
      </h4>
      <p class="mb-4 text-sm text-white md:text-base ">
        Everything about this cakes is stated here for your perusal. Please find
        it and read.
      </p>
      <a
        href="tel:+2347017909308"
        class="block w-32 text-center py-3 rounded-xl bg-[#DAB748] hover:bg-[#9b7701] text-white"
      >
        Order Now
      </a>
    </div>
    <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7">
        <img
          src="../../assets/cake/product/product-cake-3.svg"
          class="w-full"
          alt=""
        />
      </div>
      <h4 class=" font-montserrat text-[#dab748] my-3 text-base md:text-lg font-bold">
        PineappleCake
      </h4>
      <p class="mb-4 text-sm text-white md:text-base ">
        Everything about this cakes is stated here for your perusal. Please find
        it and read.
      </p>
      <a
        href="tel:+2347017909308"
        class="block w-32 text-center py-3 rounded-xl bg-[#DAB748] hover:bg-[#9b7701] text-white"
      >
        Order Now
      </a>
    </div>
    <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7">
        <img
          src="../../assets/cake/product/product-cake-4.svg"
          class="w-full"
          alt=""
        />
      </div>
      <h4 class=" font-montserrat text-[#dab748] my-3 text-base md:text-lg font-bold">
        BlackForest
      </h4>
      <p class="mb-4 text-sm text-white md:text-base ">
        Everything about this cakes is stated here for your perusal. Please find
        it and read.
      </p>
      <a
        href="tel:+2347017909308"
        class="block w-32 text-center py-3 rounded-xl bg-[#DAB748] hover:bg-[#9b7701] text-white"
      >
        Order Now
      </a>
    </div>
    <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7">
        <img
          src="../../assets/cake/product/product-cake-5.svg"
          class="w-full"
          alt=""
        />
      </div>
      <h4 class=" font-montserrat text-[#dab748] my-3 text-base md:text-lg font-bold">
        SweetCakes
      </h4>
      <p class="mb-4 text-sm text-white md:text-base ">
        Everything about this cakes is stated here for your perusal. Please find
        it and read.
      </p>
      <a
        href="tel:+2347017909308"
        class="block w-32 text-center py-3 rounded-xl bg-[#DAB748] hover:bg-[#9b7701] text-white"
      >
        Order Now
      </a>
    </div>
    <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7">
        <img
          src="../../assets/cake/product/product-cake-6.svg"
          class="w-full"
          alt=""
        />
      </div>
      <h4 class=" font-montserrat text-[#dab748] my-3 text-base md:text-lg font-bold">
        PineappleCake
      </h4>
      <p class="mb-4 text-sm text-white md:text-base ">
        Everything about this cakes is stated here for your perusal. Please find
        it and read.
      </p>
      <a
        href="tel:+2347017909308"
        class="block w-32 text-center py-3 rounded-xl bg-[#DAB748] hover:bg-[#9b7701] my-2 text-white"
      >
        Order Now
      </a>
    </div>
    <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7">
        <img
          src="../../assets/cake/product/product-cake-7.svg"
          class="w-full"
          alt=""
        />
      </div>
      <h4 class=" font-montserrat text-[#dab748] my-3 text-base md:text-lg font-bold">
        BlackForest
      </h4>
      <p class="mb-4 text-sm text-white md:text-base">
        Everything about this cakes is stated here for your perusal. Please fin4
        it and read.
      </p>
      <a
        href="tel:+2347017909308"
        class="block w-32 text-center py-3 rounded-xl bg-[#DAB748] hover:bg-[#9b7701] text-white"
      >
        Order Now
      </a>
    </div>
    <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7">
        <img
          src="../../assets/cake/product/product-cake-8.svg"
          class="w-full"
          alt=""
        />
      </div>
      <h4 class=" font-montserrat text-[#dab748] my-3 text-base md:text-lg font-bold">
        SweetCakes
      </h4>
      <p class="mb-4 text-sm text-white md:text-base">
        Everything about this cakes is stated here for your perusal. Please fin4
        it and read.
      </p>
      <a
        href="tel:+2347017909308"
        class="block w-32 text-center py-3 rounded-xl bg-[#DAB748] hover:bg-[#9b7701] text-white"
      >
        Order Now
      </a>
    </div>
    <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7">
        <img
          src="../../assets/cake/product/product-cake-9.svg"
          class="w-full"
          alt=""
        />
      </div>
      <h4 class="font-montserrat text-[#dab748] my-3 text-base md:text-lg font-bold">
        PineappleCake
      </h4>
      <p class="mb-4 text-sm text-white md:text-base">
        Everything about this cakes is stated here for your perusal. Please fin4
        it and read.
      </p>
      <a
        href="tel:+2347017909308"
        class="block w-32 text-center py-3 rounded-xl bg-[#DAB748] hover:bg-[#9b7701] text-white"
      >
        Order Now
      </a>
    </div>
  </div>
</section>
<app-cake-footer></app-cake-footer>
