<app-cake-nav></app-cake-nav>
<app-cake-header
  heading="Products"
  paragraph="Check out everything about us, our categories of cakes and 
  different prices."
></app-cake-header>
<section class="bg-[#FFF5F2] py-14 px-6 sm:py-20 sm:px-10 md:py-[166px] md:px-16">
  <h4 class="text-center text-[#E44200] text-base md:text-lg font-montserrat">
    Most Popular
  </h4>
  <h3 class="font-bold text-xl md:text-2xl text-center font-montserrat mb-7">
    Our Exclusive Cakes
  </h3>
  <div class="px-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6" id="cake-card">
    <div class="bg-white rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7">
        <img src="../../assets/cake/product/product-cake-1.svg" class="w-full" alt="" />
      </div>
      <h4 class="text-center font-montserrat text-base md:text-lg font-bold">BlackForest</h4>
      <p class="mb-4 text-sm md:text-base text-center">
        Everything about this cakes is stated here for your perusal. Please
        find it and read.
      </p>
      <button class="px-4 py-3 mx-auto block text-sm md:text-base rounded-xl bg-[#EC4406] text-white">
        Order Now
      </button>
    </div>
    <div class="bg-white rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7">
        <img src="../../assets/cake/product/product-cake-2.svg" class="w-full" alt="" />
      </div>
      <h4 class="text-center font-montserrat text-base md:text-lg font-bold">SweetCakes</h4>
      <p class="mb-4 text-sm md:text-base text-center">
        Everything about this cakes is stated here for your perusal. Please
        find it and read.
      </p>
      <button class="px-4 py-3 mx-auto block text-sm md:text-base rounded-xl bg-[#EC4406] text-white">
        Order Now
      </button>
    </div>
    <div class="bg-white rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7">
        <img src="../../assets/cake/product/product-cake-3.svg" class="w-full" alt="" />
      </div>
      <h4 class="text-center font-montserrat text-base md:text-lg font-bold">PineappleCake</h4>
      <p class="mb-4 text-sm md:text-base text-center">
        Everything about this cakes is stated here for your perusal. Please
        find it and read.
      </p>
      <button class="px-4 py-3 mx-auto block text-sm md:text-base rounded-xl bg-[#EC4406] text-white">
        Order Now
      </button>
    </div>
    <div class="bg-white rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7">
        <img src="../../assets/cake/product/product-cake-4.svg" class="w-full" alt="" />
      </div>
      <h4 class="text-center font-montserrat text-base md:text-lg font-bold">BlackForest</h4>
      <p class="mb-4 text-sm md:text-base text-center">
        Everything about this cakes is stated here for your perusal. Please
        find it and read.
      </p>
      <button class="px-4 py-3 mx-auto block text-sm md:text-base rounded-xl bg-[#EC4406] text-white">
        Order Now
      </button>
    </div>
    <div class="bg-white rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7">
        <img src="../../assets/cake/product/product-cake-5.svg" class="w-full" alt="" />
      </div>
      <h4 class="text-center font-montserrat text-base md:text-lg font-bold">SweetCakes</h4>
      <p class="mb-4 text-sm md:text-base text-center">
        Everything about this cakes is stated here for your perusal. Please
        find it and read.
      </p>
      <button class="px-4 py-3 mx-auto block text-sm md:text-base rounded-xl bg-[#EC4406] text-white">
        Order Now
      </button>
    </div>
    <div class="bg-white rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7">
        <img src="../../assets/cake/product/product-cake-6.svg" class="w-full" alt="" />
      </div>
      <h4 class="text-center font-montserrat text-base md:text-lg font-bold">PineappleCake</h4>
      <p class="mb-4 text-sm md:text-base text-center">
        Everything about this cakes is stated here for your perusal. Please
        find it and read.
      </p>
      <button class="px-4 py-3 mx-auto block text-sm md:text-base rounded-xl bg-[#EC4406] text-white">
        Order Now
      </button>
    </div>
    <div class="bg-white rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7">
        <img src="../../assets/cake/product/product-cake-7.svg" class="w-full" alt="" />
      </div>
      <h4 class="text-center font-montserrat text-base md:text-lg font-bold">
        BlackForest
      </h4>
      <p class="mb-4 text-sm md:text-base">
        Everything about this cakes is stated here for your perusal. Please
        fin4 it and read.
      </p>
      <button
        class="px-5 py-3 mx-auto block text-sm md:text-base rounded-xl bg-[#EC4406] text-white"
      >
        Order Now
      </button>
    </div>
    <div class="bg-white rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7">
        <img src="../../assets/cake/product/product-cake-8.svg" class="w-full" alt="" />
      </div>
      <h4 class="text-center font-montserrat text-base md:text-lg font-bold">
        SweetCakes
      </h4>
      <p class="mb-4 text-sm md:text-base">
        Everything about this cakes is stated here for your perusal. Please
        fin4 it and read.
      </p>
      <button
        class="px-5 py-3 mx-auto block text-sm md:text-base rounded-xl bg-[#EC4406] text-white"
      >
        Order Now
      </button>
    </div>
    <div class="bg-white rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7">
        <img src="../../assets/cake/product/product-cake-9.svg" class="w-full" alt="" />
      </div>
      <h4 class="text-center font-montserrat text-base md:text-lg font-bold">
        PineappleCake
      </h4>
      <p class="mb-4 text-sm md:text-base">
        Everything about this cakes is stated here for your perusal. Please
        fin4 it and read.
      </p>
      <button
        class="px-5 py-3 mx-auto block text-sm md:text-base rounded-xl bg-[#EC4406] text-white"
      >
        Order Now
      </button>
    </div>
  </div>
</section>
<app-cake-footer></app-cake-footer>