<app-cake-nav></app-cake-nav>
<app-cake-header
  heading="Products"
  paragraph="Check out everything about us, our categories of cakes and 
  different prices."
  [overRideClass]="true"
  [customClass]="'md:h-[70vh] h-[50vh]'"
></app-cake-header>
<section
  class="bg-[#180A0A] py-14 px-6 sm:py-20 sm:px-10 md:py-[166px] md:px-16"
>
  <h4 class="text-center text-base md:text-lg font-montserrat text-[#dab748] my-3">
    Our Products
  </h4>
  <h3 class="font-bold text-xl md:text-2xl text-center text-white font-montserrat mb-7">
    Our Exclusive Cakes
  </h3>
  <div
    class="px-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6"
    id="cake-card"
  >
    <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7 h-[500px]">
        <img
          src="../../assets/cake/product/cakes-2.jpg"
          class="w-full h-full"
          alt=""
        />
      </div>
  
      
    </div>
    <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7 h-[500px]">
        <img
          src="../../assets/cake/product/cakes-3.jpg"
          class="w-full h-full"
          alt=""
        />
      </div>
     
    </div>
    <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7 h-[500px]">
        <img
          src="../../assets/cake/product/cakes-4.jpg"
          class="w-full h-full"
          alt=""
        />
      </div>
     
    </div>
    <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7 h-[500px]">
        <img
          src="../../assets/cake/product/cakes-7.jpg"
          class="w-full h-full"
          alt=""
        />
      </div>
      
    </div>
    <div class="bg-[#1A160B]  shadow-md py-6 px-5">
      <div class="mb-7 h-[500px]">
        <img
          src="../../assets/cake/product/cakes-10.jpg"
          class="w-full h-full"
          alt=""
        />
      </div>
     
    </div>
    <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7 h-[500px]">
        <img
          src="../../assets/cake/product/cakes-11.jpg"
          class="w-full h-full"
          alt=""
        />
      </div>
     
    </div>
    <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7 h-[500px]">
        <img
          src="../../assets/cake/product/cake-sample-1.JPG"
          class="w-full h-full"
          alt=""
        />
      </div>
    
    </div>
    <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7 h-[500px]">
        <img
          src="../../assets/cake/product/cake-sample-3.JPG"
          class="w-full h-full"
          alt=""
        />
      </div>
     
    </div>
    <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7 h-[500px]">
        <img
          src="../../assets/cake/product/cake-sample-4.JPG"
          class="w-full h-full"
          alt=""
        />
      </div>
    
    </div>
    <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7 h-[500px]">
        <img
          src="../../assets/cake/product/cake-sample-5.JPG"
          class="w-full h-full"
          alt=""
        />
      </div>
    
    </div>
    <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7 h-[500px]">
        <img
          src="../../assets/cake/product/cake-sample-6.JPG"
          class="w-full h-full"
          alt=""
        />
      </div>
    
    </div>
    <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7 h-[500px]">
        <img
          src="../../assets/cake/product/cake-sample-7.JPG"
          class="w-full h-full"
          alt=""
        />
      </div>
    
    </div>

    <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7 h-[500px]">
        <img
          src="../../assets/cake/product/cake-sample-8.PNG"
          class="w-full h-full"
          alt=""
        />
      </div>
    
    </div>

    <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7 h-[500px]">
        <img
          src="../../assets/cake/product/cake-sample-10.PNG"
          class="w-full h-full"
          alt=""
        />
      </div>
    
    </div>
    <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7 h-[500px]">
        <img
          src="../../assets/cake/product/cake-sample-11.jpg"
          class="w-full h-full"
          alt=""
        />
      </div>
    
    </div>
    <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7 h-[500px]">
        <img
          src="../../assets/cake/product/cake-sample-16.jpg"
          class="w-full h-full"
          alt=""
        />
      </div>
    
    </div>
    <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7 h-[500px]">
        <img
          src="../../assets/cake/product/cake-sample-17.jpg"
          class="w-full h-full"
          alt=""
        />
      </div>
    
    </div>

    <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7 h-[500px]">
        <img
          src="../../assets/cake/product/cake-sample-18.jpg"
          class="w-full h-full"
          alt=""
        />
      </div>
    
    </div>

    <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7 h-[500px]">
        <img
          src="../../assets/cake/product/cake-sample-19.jpg"
          class="w-full h-full"
          alt=""
        />
      </div>
    
    </div>
    <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7 h-[500px]">
        <img
          src="../../assets/cake/product/cake-sample-20.jpg"
          class="w-full h-full"
          alt=""
        />
      </div>
    
    </div>
    <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5">
      <div class="mb-7 h-[500px]">
        <img
          src="../../assets/cake/product/wedding-couple.jpg"
          class="w-full h-full"
          alt=""
        />
      </div>
    
    </div>

  

  
   
      <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5 m-2">
        <div class="mb-7 h-[500px]">
          <img src="../../assets/cake/product/3d-cakes.png" class="w-full h-full" alt="" />
        </div>
       
      </div>
    
   
      <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5 m-2">
        <div class="mb-7 h-[500px]">
          <img src="../../assets/cake/product/children-novelty.png" class="w-full h-full" alt="" />
        </div>
      
      </div>
    

   
      <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5 m-2">
        <div class="mb-7 h-[500px]">
          <img src="../../assets/cake/product/sports-cake.png" class="w-full h-full" alt="" />
        </div>
  
      </div>
    
   
      <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5 m-2">
        <div class="mb-7 h-[500px]">
          <img src="../../assets/cake/product/cartoon-character.png" class="w-full h-full" alt="" />
        </div>

      </div>
    
   
      <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5 m-2">
        <div class="mb-7 h-[500px]">
          <img src="../../assets/cake/product/waffles.png" class="w-full h-full" alt="" />
        </div>
    
      </div>
    
   
      <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5 m-2">
        <div class="mb-7 h-[500px]">
          <img src="../../assets/cake/product/special-wedding.png" class="w-full h-full" alt="" />
        </div>
   
      </div>
    
   
      <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5 m-2">
        <div class="mb-7 h-[500px]">
          <img src="../../assets/cake/product/wedding-cakes.png" class="w-full h-full" alt="" />
        </div>
   
      </div>
    
   
      <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5 m-2">
        <div class="mb-7 h-[500px]">
          <img src="../../assets/cake/product/avande-garde.png" class="w-full h-full" alt="" />
        </div>
      
      </div>
    
   
    
   
      <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5 m-2">
        <div class="mb-7 h-[500px]">
          <img src="../../assets/cake/product/illusion-cake.png" class="w-full h-full" alt="" />
         
        </div>
      
      </div>
      <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5 m-2">
        <div class="mb-7 h-[500px]">
          <img src="../../assets/cake/product/wedding-build.png" class="w-full h-full" alt="" />
         
        </div>
      
      </div>
    
   
      <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5 m-2">
        <div class="mb-7 h-[500px]">
          <img src="../../assets/cake/product/adult-birthday-cake.png" class="w-full h-full" alt="" />
         
        </div>
 
      </div>
    
   
      <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5 m-2">
        <div class="mb-7 h-[500px]">
          <img src="../../assets/cake/product/cupped-deserts.png" class="w-full h-full" alt="cupped-deserts" />
         
        </div>
     
      </div>
    
   
      <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5 m-2">
        <div class="mb-7 h-[500px]">
          <img src="../../assets/cake/product/cheese-cake.png" class="w-full h-full" alt="cupped-deserts" />
         
        </div>
  
      </div>
    
   
      <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5 m-2">
        <div class="mb-7 h-[500px]">
          <img src="../../assets/cake/product/fruit-basket.png" class="w-full h-full" alt="fruit-basket" />
         
        </div>

      </div>
    
   
      <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5 m-2">
        <div class="mb-7 h-[500px] flex items-center">
          <img src="../../assets/cake/product/adult-novelty.png" class="w-full h-[50%]" alt="adult-novelty" />
         
        </div>
   
      </div>
    
   
      <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5 m-2">
        <div class="mb-7 h-[500px]">
          <img src="../../assets/cake/product/plated-desserts.png" class="w-full h-full" alt="fruit-basket" />
         
        </div>
    
      </div>
    
   
      <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5 m-2">
        <div class="mb-7 h-[500px]">
          <img src="../../assets/cake/product/packaged-desserts.png" class="w-full h-full" alt="fruit-basket" />
         
        </div>
       
      </div>
    
   
      <div class="bg-[#1A160B] rounded-br-[80px] shadow-md py-6 px-5 m-2">
        <div class="mb-7 h-[500px]">
          <img src="../../assets/cake/product/carrot-cake.png" class="w-full h-full" alt="fruit-basket" />
         
        </div>
        
      </div>
    


    </div>

</section>
<app-cake-footer></app-cake-footer>
