<app-cake-nav></app-cake-nav>
<app-cake-header
  heading="About Us"
  paragraph="Check out everything about us, our categories of cakes and 
  different prices."
></app-cake-header>
<section
  class="grid grid-cols-1 md:grid-cols-2 py-14 px-6 sm:py-20 sm:px-10 md:py-28 md:px-16 gap-20 bg-black items-center relative"
>
  <div><img src="../../assets/cake/story-img.png" class="w-full" alt="" /></div>
  <div>
    <h4 class=" text-[#DAB748] text-base md:text-lg font-montserrat">Most Popular</h4>
    <h3 class="font-bold text-xl md:text-2xl font-montserrat my-4 text-white">Our Exclusive Cakes</h3>
    <p class=" text-white my-2 font-worksans text-base">
      Protouch cakes is a fast growing cake bakery, we are very popular for our artistic cake designs as well as baked goods
      We specialize in creating delicious cakes using the freshest of ingredients with your safety in mind, all cakes are made from scratch by our small team of pastry chef and talented bakers
    </p>
   <div class="text-white font-worksans">
    <p class="my-2">
      Each cake and pastry is handcrafted the moment you place your order
    </p>
    <h2 class="text-xl my-4">Our Mission</h2>
    <ul class="list-disc list-inside ml-4">
      <li class="li">
        Our mission is to provide uniquely designed cakes and gourmet treats to always exceed customers expectations everytime they choose protouch cakes
      </li>
      <li>We deliver within lagos and pickup option is available</li>
    </ul>

    <h2 class="text-xl my-4">Address</h2>
    <ul class="list-disc list-inside ml-4">
      <li>Address: 98 shipeolu street adjacent larex hotel palmgroove, lagos</li>
    </ul>
   </div>
   
      
    <!-- <button class="px-5 py-3 my-6 block border-solid border border-[#DAB748] w-32 text-[#DAB748] hover:bg-[#E44200] hover:text-white text-sm md:text-base">
      Our Story
    </button> -->
  </div>
  <!-- <div class="w-96 absolute right-0 -bottom-14 hidden md:block">
    <img src="../../assets/cake/positioned-cake.png" class="w-full" alt="" />
  </div> -->
</section>

<div class="md:pl-20 bg-[#180A0A] md:p-0  text-white font-worksans grid grid-cols-1 md:grid-cols-2 items-center">

 <div class="px-5">
  <h4 class="md:text-4xl text-2xl md:font-bold md:my-5 my-2">What we Offer</h4>
  <div class="flex md:gap-16 gap-4 flex-col md:flex-row">
    <div>
      <p class="md:text-2xl text-lg md:font-bold md:my-3">CAKES</p>
      <ul class="list-disc list-inside py-4 md:text-base text-sm">
        <li>
          BIRTHDAY CAKES
        </li>
        <li>WEDDING CAKES</li>
        <li>CORPORATE CAKES</li>
        <li>NOVELTY CAKES</li>
        <li>CAKE LOAVES</li>
        <li>CUPCAKES</li>
      </ul>
    </div>
    
    <div>
      <p class="md:text-2xl text-lg md:font-bold md:my-3">PASTRIES</p>
      <ul class="list-disc list-inside md:py-4 py-2 md:text-base text-sm">
        <li>
          CINNAMON ROLLS
        </li>
        <li>PIES</li>
        <li>DOUGHNUTS</li>
        <li>MACARONS</li>
      </ul>
    </div>
  </div>
  <div>
    <p class="md:text-2xl text-lg font-bold md:my-3 my-1">DESSERT</p>
  <ul class="list-disc list-inside md:py-4 py-2 md:text-base text-sm">
    <li>
      PACKED DESSERTS
    </li>
    <li>PLATED DESSERTS</li>
    
  </ul>
  </div>
 </div>
 <div class="h-full">
  <img src="assets/cake/cake-sample-14.jpg" alt="" class="w-full">
 </div>
</div>
<div class="py-14 px-6 sm:py-20 sm:px-10 md:py-28 md:px-16 bg-black grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-5" id="about-card">
  <div class="border-2 border-white  shadow-md py-6 px-5">
    <div class="rounded-full bg-white p-10 h-36 w-36 mx-auto flex items-center justify-center mb-6">
      <img src="assets/cake/about/quality.png" alt="" />
    </div>
    <h4 class="text-center text-[#DAB748] font-montserrat text-base md:text-lg font-bold">
      Quality
    </h4>
    <p class="text-center mb-10 text-sm md:text-base text-white">
      Everything about this cakes is stated here
      for your perusal. Please find it and read.
    </p>
  </div>
  <div class="border-2 border-white shadow-md py-6 px-5">
    <div class="rounded-full bg-white p-10 h-36 w-36 mx-auto flex items-center justify-center mb-6">
      <img src="../../../assets/cake/about/timeliness.png" alt="" />
    </div>
    <h4 class="text-center text-[#DAB748] font-montserrat text-base md:text-lg font-bold">
      Timeliness
    </h4>
    <p class="text-center mb-10 text-sm md:text-base text-white">
      Everything about this cakes is stated here
      for your perusal. Please find it and read.
    </p>
  </div>
  <div class="border-2 border-white shadow-md py-6 px-5">
    <div class="rounded-full bg-white p-10 h-36 w-36 mx-auto flex items-center justify-center mb-6">
      <img src="../../../assets/cake/about/best_taste.png" alt="" />
    </div>
    <h4 class="text-center font-montserrat text-base text-[#DAB748] md:text-lg font-bold">
      Best Taste
    </h4>
    <p class="text-center mb-10 text-sm md:text-base text-white">
      Everything about this cakes is stated here
      for your perusal. Please find it and read.
    </p>
  </div>
</div>
<div>
  <img src="../../assets/cake/demo-video-img.png" alt="" />
</div>
<section class="bg-[#1A160B] py-14 px-6 sm:py-20 sm:px-10 md:py-[156px] md:px-16">
  <h4 class="text-center text-[#DAB748] text-base md:text-lg font-worksans">
    Testimonial
  </h4>
  <h3 class="font-bold text-xl text-white md:text-2xl text-center font-worksans my-4">
    What Customers Say
  </h3>
  <div class="md:px-8 my-10 cake-card">
    <owl-carousel-o [options]="testimonialCarousel">
      <ng-template carouselSlide>
        <div class="bg-black rounded-br-[120px] shadow-md border-2 border-white py-14 px-10 m-2">
          <p class="mb-4 text-sm md:text-base text-white">
            “Lorem ipsum dolor sit amet consectetur. Sit facilisi morbi nulla
            nulla auctor nunc id congue. Neque amet lacus duis felis mi nec.
            Gravida commodo amet justo felis porttitor. Consectetur aliquam
            varius metus nisi velit pharetra orci.”
          </p>
          <div class="flex items-center gap-3">
            <div>
              <img src="../../assets/cake/testimony-person.png" alt="" />
            </div>
            <div>
              <h4 class="text-base md:text-lg text-[#DAB748] font-worksans">
                Oliver Jems
              </h4>
              <p class="font-worksans text-sm md:text-base">Business Man</p>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="bg-black rounded-br-[120px] shadow-md border-2 border-white py-14 px-10 m-2">
          <p class="mb-4 text-sm md:text-base text-white">
            “Lorem ipsum dolor sit amet consectetur. Sit facilisi morbi nulla
            nulla auctor nunc id congue. Neque amet lacus duis felis mi nec.
            Gravida commodo amet justo felis porttitor. Consectetur aliquam
            varius metus nisi velit pharetra orci.”
          </p>
          <div class="flex items-center gap-3">
            <div>
              <img src="../../assets/cake/testimony-person.png" alt="" />
            </div>
            <div>
              <h4 class="text-base md:text-lg text-[#DAB748] font-worksans">
                Oliver Jems
              </h4>
              <p class="font-worksans text-sm md:text-base">Business Man</p>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="bg-black rounded-br-[120px] shadow-md border-2 border-white py-14 px-10 m-2">
          <p class="mb-4 text-sm md:text-base text-white">
            “Lorem ipsum dolor sit amet consectetur. Sit facilisi morbi nulla
            nulla auctor nunc id congue. Neque amet lacus duis felis mi nec.
            Gravida commodo amet justo felis porttitor. Consectetur aliquam
            varius metus nisi velit pharetra orci.”
          </p>
          <div class="flex items-center gap-3">
            <div>
              <img src="../../assets/cake/testimony-person.png" alt="" />
            </div>
            <div>
              <h4 class="text-base md:text-lg text-[#DAB748] font-worksans">
                Oliver Jems
              </h4>
              <p class="font-worksans text-sm md:text-base">Business Man</p>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>
<app-cake-footer></app-cake-footer>
