<app-cake-nav></app-cake-nav>
<app-cake-header
  heading="About Us"
  paragraph="Check out everything about us, our categories of cakes and 
  different prices."
></app-cake-header>
<section
  class="grid grid-cols-1 md:grid-cols-2 py-14 px-6 sm:py-20 sm:px-10 md:py-28 md:px-16 gap-20 bg-black items-center relative"
>
  <div><img src="../../assets/cake/story-img.png" class="w-full" alt="" /></div>
  <div>
    <h4 class=" text-[#DAB748] text-base md:text-lg font-montserrat">Most Popular</h4>
    <h3 class="font-bold text-xl md:text-2xl font-montserrat my-4 text-white">Our Exclusive Cakes</h3>
    <p class="text-sm md:text-base text-white">
      Land behold it created good saw after she'd Our set living. Signs midst
      dominion creepeth morning laboris nisi ufsit aliquip ex ea commodo conse
      quat is aute irure, quis nostrud exer.
    </p>
    <button class="px-5 py-3 my-6 block border-solid border border-[#DAB748] w-32 text-[#DAB748] hover:bg-[#E44200] hover:text-white text-sm md:text-base">
      Our Story
    </button>
  </div>
  <div class="w-96 absolute right-0 -bottom-14 hidden md:block">
    <img src="../../assets/cake/positioned-cake.png" class="w-full" alt="" />
  </div>
</section>
<div class="py-14 px-6 sm:py-20 sm:px-10 md:py-28 md:px-16 bg-black grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-5" id="about-card">
  <div class="border-2 border-white  shadow-md py-6 px-5">
    <div class="rounded-full bg-white p-10 h-36 w-36 mx-auto flex items-center justify-center mb-6">
      <img src="../../../assets/cake/about/quality.png" alt="" />
    </div>
    <h4 class="text-center text-[#DAB748] font-montserrat text-base md:text-lg font-bold">
      Quality
    </h4>
    <p class="text-center mb-10 text-sm md:text-base text-white">
      Everything about this cakes is stated here
      for your perusal. Please find it and read.
    </p>
  </div>
  <div class="border-2 border-white shadow-md py-6 px-5">
    <div class="rounded-full bg-white p-10 h-36 w-36 mx-auto flex items-center justify-center mb-6">
      <img src="../../../assets/cake/about/timeliness.png" alt="" />
    </div>
    <h4 class="text-center text-[#DAB748] font-montserrat text-base md:text-lg font-bold">
      Timeliness
    </h4>
    <p class="text-center mb-10 text-sm md:text-base text-white">
      Everything about this cakes is stated here
      for your perusal. Please find it and read.
    </p>
  </div>
  <div class="border-2 border-white shadow-md py-6 px-5">
    <div class="rounded-full bg-white p-10 h-36 w-36 mx-auto flex items-center justify-center mb-6">
      <img src="../../../assets/cake/about/best_taste.png" alt="" />
    </div>
    <h4 class="text-center font-montserrat text-base text-[#DAB748] md:text-lg font-bold">
      Best Taste
    </h4>
    <p class="text-center mb-10 text-sm md:text-base text-white">
      Everything about this cakes is stated here
      for your perusal. Please find it and read.
    </p>
  </div>
</div>
<div>
  <img src="../../assets/cake/demo-video-img.png" alt="" />
</div>
<section class="bg-black py-14 px-6 sm:py-20 sm:px-10 md:py-[156px] md:px-16">
  <h4 class="text-center text-[#DAB748] text-base md:text-lg font-worksans">
    Testimonial
  </h4>
  <h3 class="font-bold text-xl text-white md:text-2xl text-center font-worksans my-4">
    What Customers Say
  </h3>
  <div class="md:px-8 my-10 cake-card">
    <owl-carousel-o [options]="testimonialCarousel">
      <ng-template carouselSlide>
        <div class="bg-black rounded-br-[120px] shadow-md border-2 border-white py-14 px-10 m-2">
          <p class="mb-4 text-sm md:text-base text-white">
            “Lorem ipsum dolor sit amet consectetur. Sit facilisi morbi nulla
            nulla auctor nunc id congue. Neque amet lacus duis felis mi nec.
            Gravida commodo amet justo felis porttitor. Consectetur aliquam
            varius metus nisi velit pharetra orci.”
          </p>
          <div class="flex items-center gap-3">
            <div>
              <img src="../../assets/cake/testimony-person.png" alt="" />
            </div>
            <div>
              <h4 class="text-base md:text-lg text-[#DAB748] font-worksans">
                Oliver Jems
              </h4>
              <p class="font-worksans text-sm md:text-base">Business Man</p>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="bg-black rounded-br-[120px] shadow-md border-2 border-white py-14 px-10 m-2">
          <p class="mb-4 text-sm md:text-base text-white">
            “Lorem ipsum dolor sit amet consectetur. Sit facilisi morbi nulla
            nulla auctor nunc id congue. Neque amet lacus duis felis mi nec.
            Gravida commodo amet justo felis porttitor. Consectetur aliquam
            varius metus nisi velit pharetra orci.”
          </p>
          <div class="flex items-center gap-3">
            <div>
              <img src="../../assets/cake/testimony-person.png" alt="" />
            </div>
            <div>
              <h4 class="text-base md:text-lg text-[#DAB748] font-worksans">
                Oliver Jems
              </h4>
              <p class="font-worksans text-sm md:text-base">Business Man</p>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="bg-black rounded-br-[120px] shadow-md border-2 border-white py-14 px-10 m-2">
          <p class="mb-4 text-sm md:text-base text-white">
            “Lorem ipsum dolor sit amet consectetur. Sit facilisi morbi nulla
            nulla auctor nunc id congue. Neque amet lacus duis felis mi nec.
            Gravida commodo amet justo felis porttitor. Consectetur aliquam
            varius metus nisi velit pharetra orci.”
          </p>
          <div class="flex items-center gap-3">
            <div>
              <img src="../../assets/cake/testimony-person.png" alt="" />
            </div>
            <div>
              <h4 class="text-base md:text-lg text-[#DAB748] font-worksans">
                Oliver Jems
              </h4>
              <p class="font-worksans text-sm md:text-base">Business Man</p>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>
<app-cake-footer></app-cake-footer>
