<app-cake-nav></app-cake-nav>
<app-cake-header
  heading="About Us"
  paragraph="Check out everything about us, our categories of cakes and 
  different prices."
  [overRideClass]="true"
  [customClass]="'md:h-[70vh] h-[50vh]'"
></app-cake-header>
<section
  class="grid grid-cols-1 md:grid-cols-2 py-14 px-6 sm:py-20 sm:px-10 md:py-36 md:px-16 gap-20 bg-black items-center relative"
>
<div class="md:h-[650px]">
  <img src="../../assets/cake/product/packaged-desserts.png" class="w-full h-full" alt="" />
</div>
  <div>
    <h4 class=" text-[#DAB748] text-base md:text-lg font-montserrat">Most Popular</h4>
    <h3 class="font-bold text-xl md:text-2xl font-montserrat my-4 text-white">Our Exclusive Cakes</h3>
    <p class=" text-white my-2 font-worksans text-base">
      Protouch cakes is a fast growing cake bakery, we are very popular for our artistic cake designs as well as baked goods
      We specialize in creating delicious cakes using the freshest of ingredients with your safety in mind, all cakes are made from scratch by our small team of pastry chef and talented bakers
    </p>
   <div class="text-white font-worksans">
    <p class="my-2">
      Each cake and pastry is handcrafted the moment you place your order
    </p>
    <h2 class="text-xl my-4">Our Mission</h2>
    <ul class="list-disc list-inside ml-4">
      <li class="li">
        Our mission is to provide uniquely designed cakes and gourmet treats to always exceed customers expectations everytime they choose protouch cakes
      </li>
      <li>We deliver within lagos and pickup option is available</li>
    </ul>

    <h2 class="text-xl my-4">Address</h2>
    <ul class="list-disc list-inside ml-4">
      <li>Address: 98 shipeolu street adjacent larex hotel palmgroove, lagos</li>
    </ul>
   </div>
   
      
    <!-- <button class="px-5 py-3 my-6 block border-solid border border-[#DAB748] w-32 text-[#DAB748] hover:bg-[#E44200] hover:text-white text-sm md:text-base">
      Our Story
    </button> -->
  </div>
  <!-- <div class="w-96 absolute right-0 -bottom-14 hidden md:block">
    <img src="../../assets/cake/positioned-cake.png" class="w-full" alt="" />
  </div> -->
</section>

<div class="md:px-20 bg-[#180A0A] md:p-0 md:py-32 text-white font-worksans">

 <div class="px-5 mx-auto w-full items-center text-center">
  <h4 class="md:text-4xl text-2xl md:font-bold md:my-5 my-2">What we Offer</h4>
  <div class="flex md:gap-32 gap-4 flex-col md:flex-row mx-auto w-fit">
    <div>
      <p class="md:text-2xl text-lg md:font-bold md:my-3">CAKES</p>
      <ul class="list-disc list-inside py-4 md:text-base text-sm">
        <li>
          BIRTHDAY CAKES
        </li>
        <li>WEDDING CAKES</li>
        <li>CORPORATE CAKES</li>
        <li>NOVELTY CAKES</li>
        <li>CAKE LOAVES</li>
        <li>CUPCAKES</li>
      </ul>
    </div>
    
    <div>
      <p class="md:text-2xl text-lg md:font-bold md:my-3">PASTRIES</p>
      <ul class="list-disc list-inside md:py-4 py-2 md:text-base text-sm">
        <li>
          CINNAMON ROLLS
        </li>
        <li>PIES</li>
        <li>DOUGHNUTS</li>
        <li>MACARONS</li>
      </ul>
    </div>
    <div>
      <p class="md:text-2xl text-lg font-bold md:my-3 my-1">DESSERT</p>
    <ul class="list-disc list-inside md:py-4 py-2 md:text-base text-sm">
      <li>
        PACKED DESSERTS
      </li>
      <li>PLATED DESSERTS</li>
      
    </ul>
    </div>
  </div>
  
 </div>
 <!-- <div class="h-full">
  <img src="assets/cake/cake-sample-14.jpg" alt="" class="w-full">
 </div> -->
</div>

<section class="py-14 px-6 sm:py-20 sm:px-10 md:py-32 md:px-16 bg-black grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-5" id="about-card">
  <div class="border-2 border-white rounded-br-[120px] shadow-md py-6 md:py-10 px-5 md:my-5">
    <div class="rounded-full bg-white p-10 h-36 w-36 mx-auto flex items-center justify-center mb-6">
      <img src="assets/cake/about/quality.png" alt="" />
    </div>
    <h4 class="text-center text-[#DAB748] font-montserrat text-base md:text-lg font-bold">
      Quality
    </h4>
   
  </div>
  <div class="border-2 border-white rounded-br-[120px] shadow-md py-6 md:py-10 px-5 md:my-5">
    <div class="rounded-full bg-white p-10 h-36 w-36 mx-auto flex items-center justify-center mb-6">
      <img src="../../../assets/cake/about/timeliness.png" alt="" />
    </div>
    <h4 class="text-center text-[#DAB748] font-montserrat text-base md:text-lg font-bold">
      Timeliness
    </h4>
  
  </div>
  <div class="border-2 border-white shadow-md py-6 md:py-10 px-5 md:my-5">
    <div class="rounded-full bg-white p-10 h-36 w-36 mx-auto flex items-center justify-center mb-6">
      <img src="../../../assets/cake/about/best_taste.png" alt="" />
    </div>
    <h4 class="text-center font-montserrat text-base text-[#DAB748] md:text-lg font-bold">
      Best Taste
    </h4>
   
  </div>
</section>

<section class="bg-[#180A0A] py-14 px-6 sm:py-20 sm:px-10 md:py-[156px] md:px-16">
  <h4 class="text-center text-[#DAB748] text-base md:text-lg font-worksans">
    Testimonial
  </h4>
  <h3 class="font-bold text-xl text-white md:text-2xl text-center font-worksans my-4">
    What Customers Say
  </h3>
  <div class="md:px-8 my-10 cake-card">
    <owl-carousel-o [options]="testimonialCarousel">
      <ng-template carouselSlide>
        <div class="bg-black rounded-br-[120px] shadow-md border-2 border-white py-14 px-10 m-2">
          <p class="mb-4 text-sm md:text-base text-white h-[80px]">
            “I love love my cake and the flavours, the texture as well was is
            good, and thank you for the extra size”.”
          </p>
          <div class="flex items-center gap-3">
            <div>
              <img src="../../assets/cake/av1.png" alt="" class="w-16 h-16" />
            </div>
            <div>
              <h4 class="text-base md:text-lg text-[#DAB748] font-worksans">
                Derby From Shomolu
              </h4>
           
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="bg-black rounded-br-[120px] shadow-md border-2 border-white py-14 px-10 m-2">
          <p class="mb-4 text-sm md:text-base text-white h-[80px]">
            "delivered, you never disappoint us, we are grateful"
          </p>
          <div class="flex items-center gap-3">
            <div>
              <img src="../../assets/cake/av1.png" alt="" class="w-16 h-16"/>
            </div>
            <div>
              <h4 class="text-base md:text-lg text-[#DAB748] font-worksans">
                Mrs adeola from badore,Ajah.              </h4>
              
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="bg-black rounded-br-[120px] shadow-md border-2 border-white py-14 px-10 m-2">
          <p class="mb-4 text-sm md:text-base text-white h-[80px]">
            “Thanks for making my daughter&#39;s birthday cake look so beautiful and taste
            great. 2 wonderful cakes in 2weeks you really out did yourself”
          </p>
          <div class="flex items-center gap-3">
            <div>
              <img src="../../assets/cake/av1.png" alt=""class="w-16 h-16" />
            </div>
            <div>
              <h4 class="text-base md:text-lg text-[#DAB748] font-worksans">
                Lezlieehiri
              </h4>
              <p class="font-worksans text-sm md:text-base">Business Man</p>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="bg-black rounded-br-[120px] shadow-md border-2 border-white py-14 px-10 m-2">
          <p class="mb-4 text-sm md:text-base text-white h-[80px]">
            “Your desserts were the talk of our wedding , the setup matched our
            wedding decor and your service team were professional to the core”
          </p>
          <div class="flex items-center gap-3">
            <div>
              <img src="../../assets/cake/av2.png" alt="" class="w-16 h-16"/>
            </div>
            <div>
              <h4 class="text-base md:text-lg text-[#DAB748] font-worksans">
                Mr and mrs Johnson
              </h4>
              <p class="font-worksans text-sm md:text-base">Business Man</p>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="bg-black rounded-br-[120px] shadow-md border-2 border-white py-14 px-10 m-2">
          <p class="mb-4 text-sm md:text-base text-white h-[80px]">
            “the brownies were so gooey, everyone in my office loved it, ordering more
            next week for our christmas party”
          </p>
          <div class="flex items-center gap-3">
            <div>
              <img src="../../assets/cake/av2.png" alt="" class="w-16 h-16"/>
            </div>
            <div>
              <h4 class="text-base md:text-lg text-[#DAB748] font-worksans">
                Adebola from lekki
              </h4>
              
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>
<app-cake-footer></app-cake-footer>
