<app-cake-nav></app-cake-nav>
<app-cake-header
  heading="Hey Dear!"
  paragraph="Our Cakes and Pastries is created with so much love and 
consideration of your health and wellbeing."
></app-cake-header>
<section
  class="bg-[#FFF5F2] py-14 px-6 sm:py-20 sm:px-10 md:py-[182px] md:px-16 relative font-khula"
>
  <h4 class="text-center text-[#E44200] text-base md:text-lg font-worksans">
    Most Popular
  </h4>
  <h3 class="font-bold text-xl md:text-2xl text-center font-worksans my-4">
    Our Exclusive Cakes
  </h3>
  <div class="md:px-8 cake-card">
    <owl-carousel-o [options]="cakeTypeCarousel">
      <ng-template carouselSlide>
        <div class="bg-white rounded-br-[80px] shadow-md py-6 px-5 m-2">
          <div class="mb-7">
            <img src="../../assets/cake/cake-1.svg" class="w-full" alt="" />
          </div>
          <h4 class="text-center font-worksans text-base md:text-lg font-bold">
            BlackForest
          </h4>
          <p class="mb-4 text-sm md:text-base">
            14 Everything about this cakes is stated here for your perusal.
            Please find it and read.
          </p>
          <a
            href="tel:+2347017909308"
            class="block w-32 text-center py-3 rounded-xl bg-[#EC4406] hover:bg-[#ac3104] text-white mx-auto"
          >
            Order Now
          </a>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="bg-white rounded-br-[80px] shadow-md py-6 px-5 m-2">
          <div class="mb-7">
            <img src="../../assets/cake/cake-2.svg" class="w-full" alt="" />
          </div>
          <h4 class="text-center font-worksans text-base md:text-lg font-bold">
            SweetCakes
          </h4>
          <p class="mb-4 text-sm md:text-base">
            14 Everything about this cakes is stated here for your perusal.
            Please find it and read.
          </p>
          <a
            href="tel:+2347017909308"
            class="block w-32 text-center py-3 rounded-xl bg-[#EC4406] hover:bg-[#ac3104] text-white mx-auto"
          >
            Order Now
          </a>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="bg-white rounded-br-[80px] shadow-md py-6 px-5 m-2">
          <div class="mb-7">
            <img src="../../assets/cake/cake-3.svg" class="w-full" alt="" />
          </div>
          <h4 class="text-center font-worksans text-base md:text-lg font-bold">
            PineappleCake
          </h4>
          <p class="mb-4 text-sm md:text-base">
            14 Everything about this cakes is stated here for your perusal.
            Please find it and read.
          </p>
          <a
            href="tel:+2347017909308"
            class="block w-32 text-center py-3 rounded-xl bg-[#EC4406] hover:bg-[#ac3104] text-white mx-auto"
          >
            Order Now
          </a>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="bg-white rounded-br-[80px] shadow-md py-6 px-5 m-2">
          <div class="mb-7">
            <img src="../../assets/cake/cake-1.svg" class="w-full" alt="" />
          </div>
          <h4 class="text-center font-worksans text-base md:text-lg font-bold">
            BlackForest
          </h4>
          <p class="mb-4 text-sm md:text-base">
            14 Everything about this cakes is stated here for your perusal.
            Please find it and read.
          </p>
          <a
            href="tel:+2347017909308"
            class="block w-32 text-center py-3 rounded-xl bg-[#EC4406] hover:bg-[#ac3104] text-white mx-auto"
          >
            Order Now
          </a>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="bg-white rounded-br-[80px] shadow-md py-6 px-5 m-2">
          <div class="mb-7">
            <img src="../../assets/cake/cake-2.svg" class="w-full" alt="" />
          </div>
          <h4 class="text-center font-worksans text-base md:text-lg font-bold">
            SweetCakes
          </h4>
          <p class="mb-4 text-sm md:text-base">
            14 Everything about this cakes is stated here for your perusal.
            Please find it and read.
          </p>
          <a
            href="tel:+2347017909308"
            class="block w-32 text-center py-3 rounded-xl bg-[#EC4406] hover:bg-[#ac3104] text-white mx-auto"
          >
            Order Now
          </a>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="bg-white rounded-br-[80px] shadow-md py-6 px-5 m-2">
          <div class="mb-7">
            <img src="../../assets/cake/cake-3.svg" class="w-full" alt="" />
          </div>
          <h4 class="text-center font-worksans text-base md:text-lg font-bold">
            PineappleCake
          </h4>
          <p class="mb-4 text-sm md:text-base">
            14 Everything about this cakes is stated here for your perusal.
            Please find it and read.
          </p>
          <a
            href="tel:+2347017909308"
            class="block w-32 text-center py-3 rounded-xl bg-[#EC4406] hover:bg-[#ac3104] text-white mx-auto"
          >
            Order Now
          </a>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
  <div class="w-96 absolute right-0 -bottom-14 hidden md:block">
    <img src="../../assets/cake/positioned-cake.png" class="w-full" alt="" />
  </div>
</section>
<section
  class="grid grid-cols-1 md:grid-cols-2 py-14 px-6 sm:py-20 sm:px-10 md:py-[176px] md:px-16 gap-20 bg-[#F5F4FB8C] items-center"
>
  <div><img src="../../assets/cake/story-img.png" class="w-full" alt="" /></div>
  <div>
    <h4 class="text-[#E44200] text-base md:text-lg font-worksans">
      Most Popular
    </h4>
    <h3 class="font-bold text-xl md:text-2xl font-worksans my-4">
      Our Exclusive Cakes
    </h3>
    <p class="text-sm md:text-base">
      Land behold it created good saw after she'd Our set living. Signs midst
      dominion creepeth morning laboris nisi ufsit aliquip ex ea commodo conse
      quat is aute irure, quis nostrud exer.
    </p>
    <button
      class="px-5 py-3 my-6 block text-sm md:text-base rounded-xl bg-[#EC4406] text-white hover:bg-[#ac3104]"
    >
      Our Story
    </button>
  </div>
</section>
<div>
  <img src="../../assets/cake/demo-video-img.png" class="w-full" alt="" />
</div>
<section class="bg-white py-14 px-6 sm:py-20 sm:px-10 md:py-[156px] md:px-16">
  <h4 class="text-center text-[#E44200] text-base md:text-lg font-worksans">
    Testimonial
  </h4>
  <h3 class="font-bold text-xl md:text-2xl text-center font-worksans my-4">
    What Customers Say
  </h3>
  <div class="md:px-8 my-10 cake-card">
    <owl-carousel-o [options]="testimonialCarousel">
      <ng-template carouselSlide>
        <div class="bg-white rounded-br-[120px] shadow-md py-14 px-10 m-2">
          <p class="mb-4 text-sm md:text-base">
            “Lorem ipsum dolor sit amet consectetur. Sit facilisi morbi nulla
            nulla auctor nunc id congue. Neque amet lacus duis felis mi nec.
            Gravida commodo amet justo felis porttitor. Consectetur aliquam
            varius metus nisi velit pharetra orci.”
          </p>
          <div class="flex items-center gap-3">
            <div>
              <img src="../../assets/cake/testimony-person.png" alt="" />
            </div>
            <div>
              <h4 class="text-base md:text-lg text-[#E44200] font-worksans">
                Oliver Jems
              </h4>
              <p class="font-worksans text-sm md:text-base">Business Man</p>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="bg-white rounded-br-[120px] shadow-md py-14 px-10 m-2">
          <p class="mb-4 text-sm md:text-base">
            “Lorem ipsum dolor sit amet consectetur. Sit facilisi morbi nulla
            nulla auctor nunc id congue. Neque amet lacus duis felis mi nec.
            Gravida commodo amet justo felis porttitor. Consectetur aliquam
            varius metus nisi velit pharetra orci.”
          </p>
          <div class="flex items-center gap-3">
            <div>
              <img src="../../assets/cake/testimony-person.png" alt="" />
            </div>
            <div>
              <h4 class="text-base md:text-lg text-[#E44200] font-worksans">
                Oliver Jems
              </h4>
              <p class="font-worksans text-sm md:text-base">Business Man</p>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="bg-white rounded-br-[120px] shadow-md py-14 px-10 m-2">
          <p class="mb-4 text-sm md:text-base">
            “Lorem ipsum dolor sit amet consectetur. Sit facilisi morbi nulla
            nulla auctor nunc id congue. Neque amet lacus duis felis mi nec.
            Gravida commodo amet justo felis porttitor. Consectetur aliquam
            varius metus nisi velit pharetra orci.”
          </p>
          <div class="flex items-center gap-3">
            <div>
              <img src="../../assets/cake/testimony-person.png" alt="" />
            </div>
            <div>
              <h4 class="text-base md:text-lg text-[#E44200] font-worksans">
                Oliver Jems
              </h4>
              <p class="font-worksans text-sm md:text-base">Business Man</p>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="bg-white rounded-br-[120px] shadow-md py-14 px-10 m-2">
          <p class="mb-4 text-sm md:text-base">
            “Lorem ipsum dolor sit amet consectetur. Sit facilisi morbi nulla
            nulla auctor nunc id congue. Neque amet lacus duis felis mi nec.
            Gravida commodo amet justo felis porttitor. Consectetur aliquam
            varius metus nisi velit pharetra orci.”
          </p>
          <div class="flex items-center gap-3">
            <div>
              <img src="../../assets/cake/testimony-person.png" alt="" />
            </div>
            <div>
              <h4 class="text-base md:text-lg text-[#E44200] font-worksans">
                Oliver Jems
              </h4>
              <p class="font-worksans text-sm md:text-base">Business Man</p>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="bg-white rounded-br-[120px] shadow-md py-14 px-10 m-2">
          <p class="mb-4 text-sm md:text-base">
            “Lorem ipsum dolor sit amet consectetur. Sit facilisi morbi nulla
            nulla auctor nunc id congue. Neque amet lacus duis felis mi nec.
            Gravida commodo amet justo felis porttitor. Consectetur aliquam
            varius metus nisi velit pharetra orci.”
          </p>
          <div class="flex items-center gap-3">
            <div>
              <img src="../../assets/cake/testimony-person.png" alt="" />
            </div>
            <div>
              <h4 class="text-base md:text-lg text-[#E44200] font-worksans">
                Oliver Jems
              </h4>
              <p class="font-worksans text-sm md:text-base">Business Man</p>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="bg-white rounded-br-[120px] shadow-md py-14 px-10 m-2">
          <p class="mb-4 text-sm md:text-base">
            “Lorem ipsum dolor sit amet consectetur. Sit facilisi morbi nulla
            nulla auctor nunc id congue. Neque amet lacus duis felis mi nec.
            Gravida commodo amet justo felis porttitor. Consectetur aliquam
            varius metus nisi velit pharetra orci.”
          </p>
          <div class="flex items-center gap-3">
            <div>
              <img src="../../assets/cake/testimony-person.png" alt="" />
            </div>
            <div>
              <h4 class="text-base md:text-lg text-[#E44200] font-worksans">
                Oliver Jems
              </h4>
              <p class="font-worksans text-sm md:text-base">Business Man</p>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>
<app-cake-footer></app-cake-footer>
