<app-cake-nav></app-cake-nav>
<app-cake-header
  heading="Contact Us"
  paragraph="Check out everything about us, our categories of cakes and 
  different prices."
></app-cake-header>
<section class="bg-[#1A160B] py-14 px-6 sm:py-20 sm:px-10 md:py-28 md:px-16">
  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d31671.16947704812!2d3.3702266!3d7.1380026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sng!4v1643322607225!5m2!1sen!2sng"
                    class="w-full md:h-[500px] " style="border:0;" allowfullscreen="" loading="lazy">
    </iframe>
</section>
<section class="bg-[#3C2A21] py-14 px-6 sm:py-20 sm:px-10 md:py-28 md:px-16">
  <h4 class="text-lg md:text-xl lg:text-2xl font-medium my-4">Get in Touch</h4>
  <div
    class="grid sm:grid-cols-12 gap-12"
  >
    <div class="sm:col-span-8">
      <form action="" class="flex flex-col gap-4 md:gap-6">
        <textarea
          name=""
          id=""
          class="w-full outline-0 border border-[#C9C9C9] border-solid resize-none h-24 md:h-32 p-2 text-sm md:text-base"
          placeholder="Enter message"
        ></textarea>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 md:gap-6">
          <input
            type="text"
            class="w-full outline-0 border border-[#C9C9C9] border-solid p-2 text-sm md:text-base"
            placeholder="Enter your name"
          />
          <input
            type="text"
            class="w-full outline-0 border border-[#C9C9C9] border-solid p-2 text-sm md:text-base"
            placeholder="Enter your email"
          />
        </div>
        <input
          type="text"
          name=""
          id=""
          class="w-full outline-0 border border-[#C9C9C9] border-solid p-2 text-sm md:text-base"
          placeholder="Enter subject"
        />
        <button class="text-[#E44200] font-light border-solid border border-[#E44200] w-40 p-3 sm:p-5 hover:bg-[#E44200] hover:text-white">SEND</button>
      </form>
    </div>
    <div class="sm:col-span-4 flex flex-col gap-5">
        <div class="flex items-center gap-3">
            <img src="assets/cake/contact/address-icon.svg" class="w-7 block" alt="">
            <div class="text-sm md:text-base font-light">
                <p class="leading-6">No 12 Shagamu Street <br> Rosemead, CA 1290</p>
            </div>
        </div>
        <div class="flex items-center gap-3">
            <img src="assets/cake/contact/phone-icon.svg" class="w-7 block" alt="">
            <div class="text-sm md:text-base font-light">
                <p class="leading-6">+234 90 55 232 942 22 <br> Mon to Fri 9am to 6pm</p>
            </div>
        </div>
        <div class="flex items-center gap-3">
            <img src="assets/cake/contact/email-icon.svg" class="w-7 block" alt="">
            <div class="text-sm md:text-base font-light">
                <p class="leading-6">support@protouch.com <br> Send us your query anytime!</p>
            </div>
        </div>
    </div>
  </div>
</section>
<app-cake-footer></app-cake-footer>
