<footer class="p-10 mt-10 pb-2 md:p-20 md:pb-5 bg-[#1A120B]">
  <div class="grid grid-cols-1 md:grid-cols-3 gap:8 md:gap-10">
    <div class="">
      <h3 class="text-[#D5CEA3] text-xl md:text-2xl">ProTouch</h3>
      <p class="text-white my-5 font-light">
        Land behold it created good saw after she'd Our set living. Signs midst
        dominion creepeth morning laboris nisi ufsit aliquip
      </p>
      <div class="flex gap-3 mb-5">
        <a href="">
          <img src="../../assets/hotel/twitter.svg" alt="" class="w-8"/>
        </a>
        <a href="">
          <img src="../../assets/hotel/facebook.png" alt="" class="w-7" />
        </a>
       
      </div>
    </div>
    <div class="">
      <h3 class="text-[#D5CEA3] text-xl md:text-2xl">Quick Links</h3>
      <div class="text-white my-5 font-light flex flex-col gap-3">
        <a href="#" class="block">Home</a>
        <a href="#about" class="block">About</a>
        <a href="#service" class="block">Services</a>
        <a href="#contact" class="block">Contact</a>
      </div>
    </div>
    <div class="">
      <h3 class="text-[#D5CEA3] text-xl md:text-2xl">Contact us</h3>
      <div class="flex flex-col gap-3 my-5">
        <p class="text-white font-light">85 Avenue, Shagamu, Street,</p>
        <p class="font-semibold text-[#D5CEA3]">+234 904 331 3214</p>
      </div>
    </div>
  </div>
  <p class="text-center text-white mt-5 text-sm">
    Copyright &copy;{{ date.getFullYear() }} All Rights Reserved | ProTouch
    Groups
  </p>
</footer>