<footer class="p-10 mt-10 pb-2 md:p-20 md:pb-5 bg-[#1A120B]">
  <div class="grid grid-cols-1 md:grid-cols-4 gap:8 md:gap-10">
    <div class="">
      <div routerLink="/main/" class="cursor-pointer">
        <img src="assets/home/logo.png" alt="" class="w-12 h-12">
      </div>
      <p class="text-white my-5 font-light font-worksans text-sm md:leading-6">
        Complete Protouch Limited is an hospitality company that operates hotels and confectioneries. <br>
        Our team is committed to personal care and passionate about delivering a great experience. <br>
      </p>
      <div class="flex gap-3 mb-5">
        <a href="https://www.instagram.com/protouchhotelsandsuites/" >
          <img src="assets/icons/instagram.png" alt="" class="w-8" />
        </a>
       

      </div>
    </div>
    <div class="">
      <h3 class="text-[#D5CEA3] text-xl md:text-2xl">Quick Links</h3>
      <div class="text-white my-5 font-light flex flex-col gap-3 font-worksans">
        <p routerLink="/hotel" class="block hover:text-[#D5CEA3] cursor-pointer">Home</p>
        <p routerLink="/hotel/rooms" class="block hover:text-[#D5CEA3] cursor-pointer">Rooms</p>
        <!-- <p routerLink="/hotel/hotel-events" class="block hover:text-[#D5CEA3] cursor-pointer">Events</p> -->
        <p routerLink="/hotel/about-hotel" class="block hover:text-[#D5CEA3] cursor-pointer">About Us</p>
        <p routerLink="/hotel/contact" class="block hover:text-[#D5CEA3] cursor-pointer">Contact Us</p>
      </div>
    </div>

    <div class="">
      <h3 class="text-[#D5CEA3] text-xl md:text-2xl">Contact us</h3>
      <div class="flex flex-col gap-3 my-5 font-worksans text-sm md:leading-6">
        <p class="text-white font-light">20/22 Abiodun Olajire Street, Ewu Owa,Opp Fommon Filling Station, Gberigbe,Ikorodu, Lagos</p>
        <p class="font-semibold text-[#D5CEA3]">+234 904 331 3214</p>
      </div>
    </div>
  </div>
  <p class="text-center text-white mt-5 text-sm font-worksans">
    Copyright &copy;{{ date.getFullYear() }} All Rights Reserved | ProTouch
    Groups
  </p>
  <div class="whatsAppContainer hidden ml-auto sticky bottom-5 -mr-5 md:-mr-[60px] z-50 w-[40px]">
    <a href="whatsapp://send?phone=+2347017909308">
      <img src="assets/hotel/images/whatsapp-icon.png" alt="WhatsApp Icon" class="w-[40px]">
    </a>
  </div>
</footer>