<div class="max-w-[650px] w-[95%] h-[80vh] overflow-y-auto rounded-xl py-2 px-6">
  <div>
      
      <h1 class="text-center mb-8 text-[#4B5466] text-3xl">COMPLETE PROTOUCH LIMITED
       HOSPITALITY COMPANY
         </h1>
  </div>
  <div class="flex items-center mb-8 text-justify">
    <p class="text-[#4B5466]">Complete Protouch Limited 
      is an hospitality company that operates hotels and confectioneries 
      It brands include Complete Protouch Hotel and Suites and Protouch Cakes
    </p>
  </div>

  <div class="mb-8">  
      <p class="text-[#4B5466] pb-8">Our team is committed to personal care and passionate about delivering a great  experience. 
        
       
      </p>
      <p class="text-[#4B5466] hidden md:block">
        While each of our Complete Protouch Group team members has a unique job, they all serve as brand ambassadors, delivering memorable encounters and converting customers into enthusiastic brand champions. 
      </p>
  </div>
  <div (click)="confirm()" class="px-8 py-2 rounded-lg text-center bg-gradient-to-r from-[#3C2A21] to-[#1A120B] w-fit mx-auto text-white cursor-pointer hover:bg-black hover:text-white">
    Close
  </div>
  
  
</div>
