<app-hotel-nav></app-hotel-nav>

<app-header title="About Us" subtitle="Hotel Suites and Resort"> </app-header>

<section class="md:my-32 my-8 font-worksans p-5">
  <div class="mx-auto flex items-center justify-between md:gap-16 lg:flex-row flex-col md:px-20">
    <div class="relative">
      <!-- <img src="assets/hotel/about-us-pic.png" alt="" class="w-[100%]"> -->
      <img src="assets/hotel/images/pic-1.jpg" alt="" class="w-full rounded-lg border-2">
      <img src="assets/hotel/images/regular-room.jpg" alt="asset"
        class="absolute -right-1/4 w-[50%] -bottom-4 border-solid border-white border-4 hidden md:block rounded-lg">
    </div>
    <div class="lg:ml-28">
      <p class="text-[#62760C] font-worksans text-2xl mb-6 my-4"> About Us </p>
      <p class="font-playfair md:text-5xl text-2xl mb-9 lg:w-[80%] md:w-[85%] w-[90%] text-[#1A120B]"> Welcome To
        Complete ProTouch Hotel and Suites </p>
      <p class="font-worksans text-base mb-3 md:w-[80%] w-[90%] text-justify">
        Complete ProTouch Hotel and Suites is a small oasis tucked away in the bustling city of Lagos, with seventeen
        (17) guest rooms and three (3) suites.
      </p>
    </div>
  </div>
</section>

<section class="md:my-32 my-8 font-worksans p-5">
  <div class="mx-auto flex items-center justify-between md:gap-16 lg:flex-row flex-col md:px-20">
    <div class="order-1">

      <p class="font-playfair md:text-5xl text-2xl mb-9 lg:w-[80%] md:w-[85%] w-[90%] text-[#1A120B] my-4"> Lodging </p>
      <p class="font-worksans text-base mb-3 md:w-[80%] w-[90%] text-justify">
        Our rich visitor rooms and suites are faultlessly enhanced in modern plan with clean-lined decorations,
        well-thought-out lighting and huge windows
      </p>
    </div>
    <div class="relative md:order-2">
      <!-- <img src="assets/hotel/about-us-pic.png" alt="" class="w-[100%]"> -->
      <img src="assets/hotel/about-us/reception.jpg" alt="" class="w-full border-2 rounded-lg">
      <img src="assets/hotel/about-us/royal-suite.jpg" alt="asset"
        class="absolute -left-1/4 w-[50%] -bottom-4 border-solid border-white border-4 hidden md:block rounded-lg">
    </div>

  </div>
</section>

<section class="mt-8 bg-[#F8F9FA] md:p-8 p-4">
  


  <div class="mx-auto md:w-1/2 sm:w-[90] w-full p-8 md:my-32 my-8">
    <h1 class="font-playfair text-3xl my-6 text-center"> Our Functions as Hosts </h1>
    <p class="font-worksans text-base text-justify leading-8">We care about creating a comfortable, warm and welcoming
      environment for our guests. Our primary mission is to provide a high standard of service and manage our facilities
      in such a way that all our guests feel welcomed and cared for. We want to support our guests in the best possible
      way. If you have any questions, please feel free to contact us. We are committed to a high level of service to our
      customers which we guarantee through continuous staff training.

    </p>
  </div>

</section>

<div class="header-bg md:p-10 p-4 md:py-12 py-4 bg-gradient-to-r from-[#3C2A21] to-[#1A120B]" id="contact">
  <section class="flex flex-col sm:flex-row gap-10 md:items-center justify-between relative z-10 md:px-24">
    <div class="text-center ">
      <h3 class="font-bold text-2xl md:text-3xl text-white mb-2">
        Front Desk Is Available Round The Clock
      </h3>
      <p class="text-[#D9D9D9] md:text-lg text-base">
        We are constantly open, and our front desk personnel are here to assist you 24 hours a day, seven days a week.
        Whatever you require, we will do our best to offer a satisfactory response.
      </p>
    </div>

  </section>
</div>

<div class="mx-auto w-[90%] md:my-32 my-8">
  <p class="flex justify-center mb-16 font-playfair md:text-3xl text-xl"> Hotel Features </p>
  <div class="grid md:grid-cols-4 grid-cols-2 justify-center md:gap-6 gap-3 mx-auto items-center">
    <div class="flex flex-col items-center">
      <img src="assets/hotel/restaurant.png" alt="">
      <p class="text-[#62760C] font-worksans md:text-lg text-sm">Restaurant</p>
    </div>
    <div class="flex flex-col items-center">
      <img src="assets/hotel/traffic-jam.svg" alt="">
      <p class="text-[#62760C] font-worksans md:text-lg text-sm">Complimentary Onsite Parking</p>
    </div>
    <div class="flex flex-col items-center">
      <img src="assets/hotel/rooms-service.png" alt="">
      <p class="text-[#62760C] font-worksans md:text-lg text-sm">Room Service</p>
    </div>
     <div class="flex flex-col items-center">
      <img src="assets/hotel/mini-bar.svg" alt="">
      <p class="text-[#62760C] font-worksans md:text-lg text-sm">Bar</p>
    </div>
    <div class="flex flex-col items-center">
      <img src="assets/hotel/meeting.png" alt="">
      <p class="text-[#62760C] font-worksans md:text-lg text-sm">Meeting Space</p>
    </div>
    <div class="flex flex-col items-center">
      <img src="assets/hotel/housekeeping.png" alt="">
      <p class="text-[#62760C] font-worksans md:text-lg text-sm">Housekeeping</p>
    </div>
    <div class="flex flex-col items-center">
      <img src="assets/hotel/service-request.png" alt="">
      <p class="text-[#62760C] font-worksans md:text-lg text-sm whitespace-nowrap">Service Request</p>
    </div>
   
  </div>
</div>

<div class="mx-auto w-[90%] md:my-32 my-16 md:w-fit">
 <div class="text-center p-6 gap-2 mb-4">
  <h1 class="font-playfair md:text-3xl text-xl text-center mb-4">Very Important Hotel Information</h1>
  <p class="font-worksans"> Every other information you need to know about our policies and customer relations</p>
 </div>
  <div class="grid md:grid-cols-3 gap-6 md:px-16 p-2">
    
    <div class="flex gap-10 max:w-[30%]">
      <div class="border-2 rounded-lg p-7">
        <p class="font-worksans md:text-xl text-lg  py-4 font-bold mb-4"> Hotel Information  </p>
        <div class="flex gap-4 font-worksans ">
          <img src="assets/hotel/checkin.png" alt="" class="w-6 h-6">
          <div class="">
            <div class="md:gap-4 gap-2 grid grid-cols-2 ">
              <span class=""> Check In: </span><span class="font-bold"> 3:00 pm </span> 
             </div>
             <div class="md:gap-4 gap-2 grid grid-cols-2">
               <span class=""> Check Out: </span> <span class="font-bold "> 12:00 Noon </span>    
             </div>
          </div>
        </div>
  
        <div class="flex gap-4 font-worksans mt-6">
          <img src="assets/hotel/pets.png" alt="" class="w-6 h-6">
          <div class="">
            <div class="md:gap-4 gap-2 grid grid-cols-2">
              <span class="">Pets Policy:</span><span class="font-bold "> Pets are not Allowed</span> 
             </div>
           
          </div>
        </div>
  
        <div class="flex gap-4 font-worksans mt-6">
          <img src="assets/hotel/payments.png" alt="" class="w-6 h-6">
          <div class="">
            <div class="md:gap-4 gap-2 grid grid-cols-2">
              <span class="">Payments:</span><span class="font-bold"> Accepts POS and Cash</span> 
             </div>
           
          </div>
        </div>
  
        <div class="flex gap-4 font-worksans mt-6">
          <img src="assets/hotel/language.png" alt="" class="w-6 h-6">
          <div class="">
            <div class="md:gap-4 gap-2 grid grid-cols-2">
              <span class="">Languages Spoken By Staff: </span><span class="font-bold"> English and Yoruba</span> 
             </div>
           
          </div>
        </div>
      </div>
      
    </div>
    
      <div class="border-2 rounded-lg p-7 font-worksans">
        <p class=" md:text-xl text-lg py-4 font-bold mb-4"> Social Media  </p>
        <p class="py-3">Stay connected with our online activities. Follow and send a direct message to our Instagram. Click on the icon below</p>
        <a href="https://www.instagram.com/protouchhotelsandsuites/" >
          <img src="assets/icons/instagram.png" alt="" class="w-8" />
        </a>
          
      </div>
     
      
    
    <div class="border-2 rounded-lg p-7 font-worksans max:w-[30%]">
      <p class=" md:text-xl text-lg py-4 font-bold mb-4"> Accomodation Policy  </p>
      <p class="py-3">All users of our spaces are expected to deposit a refundable N20,000.00 for damages. </p>
         
    </div>
  </div>
</div>

<app-hotel-footer></app-hotel-footer>
