.header-bg{
  background: url(../../../../assets/hotel/rooms/header.svg);
  width: 100%;
  object-fit: contain;
}
.staff{
  transition: all .4s ease;
}

.staff:hover{
  transform: scale(1.1);
  width: 100%;

}

.gallery:hover {
  background-color: white;
}