/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-playfair {
  font-family: 'Playfair Display', serif;
}

.font-worksans {
  font-family: 'Work Sans', sans-serif;
}

.font-khula {
  font-family: 'Khula', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
