<nav
  class="bg-black flex justify-between items-center px-8 py-3 md:px-12 md:py-5 fixed top-0 left-0 right-0 z-30 h-[56px] md:h-[71px] lg:h-[79px] shadow-sm shadow-[#DAB74840]"
>
  <div class="flex md:gap-16 lg:gap-24 justify-between items-center">
    <div class="text-[#E44200] cursor-pointer" routerLink="/"><img src="assets/cake/protouch-cakes-edits.png" alt="" class="w-24"></div>
    <div class="hidden md:flex gap-6">
      <p
        class="cursor-pointer font-light text-[#ffffff] hover:text-[#DAB748]"
        routerLink="/cake"
        routerLinkActive="active-nav"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Home
      </p>
      <p
        class="cursor-pointer font-light text-[#ffffff] hover:text-[#DAB748]"
        routerLink="/cake/product"
        routerLinkActive="active-nav"
      >
        Product
      </p>
      <p
        class="cursor-pointer font-light hover:text-[#DAB748] text-[#ffffff]"
        routerLink="/cake/about-cake"
        routerLinkActive="active-nav"
      >
        About
      </p>
      <p
        class="cursor-pointer font-light text-[#ffffff] hover:text-[#DAB748]"
        routerLink="/cake/contact"
        routerLinkActive="active-nav"
      >
        Contact
      </p>
    </div>
  </div>
  <div class="hidden md:flex gap-4">
    <div class="hidden lg:flex items-center gap-2">
      <div class="w-6">
        <img src="../../assets/icons/phone-call.png" class="w-full" alt="" />
      </div>
      <span class="text-[#DAB748] block">+234 905 43 231 445</span>
    </div>
    <a
      href="tel:+2347017909308"
      class="px-5 py-3 rounded-xl bg-[#dab748] hover:bg-[#9b7701] text-white"
    >
      Place an Order
    </a>
  </div>
  <div
    class="md:hidden cursor-pointer text-white text-2xl"
    (click)="showNavToggle()"
  >
    {{ navToggle ? "&times;" : "&#9776;" }}
  </div>
</nav>
<div
  class="bg-white md:hidden shadow-md fixed left-0 right-0 top-[56px] md:top-[71px] lg:top-[79px] z-20 transition-all h-0 px-3 overflow-hidden rounded-b-md"
  [ngClass]="{ 'h-72': navToggle }"
>
  <div class="m-5 sm:m-8">
    <p
      class="cursor-pointer text-[#E44200] font-medium text-left mb-5 hover:text-[#DAB748]"
      (click)="closeNavToggle()"
      routerLink="/cake"
      routerLinkActive="active-nav"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </p>
    <p
      class="cursor-pointer text-[#E44200] font-medium text-left mb-5 hover:text-[#DAB748]"
      (click)="closeNavToggle()"
      routerLink="/cake/product"
      routerLinkActive="active-nav"
    >
      Product
    </p>
    <p
      class="cursor-pointer text-[#E44200] font-medium text-left mb-5 hover:text-[#DAB748]"
      (click)="closeNavToggle()"
      routerLink="/cake/about-cake"
      routerLinkActive="active-nav"
    >
      About
    </p>
    <p
      class="cursor-pointer text-[#E44200] font-medium text-left mb-5 hover:text-[#DAB748]"
      (click)="closeNavToggle()"
      routerLink="/cake/contact"
      routerLinkActive="active-nav"
    >
      Contact
    </p>
    <a
      href="tel:+2347017909308"
      class="px-5 py-3 rounded-xl bg-[#DAB748] hover:bg-[#ac3104] text-white mt-5 block w-40 text-center"
    >
      Place an Order
    </a>
  </div>
</div>
